{% extends 'base.html' %}

{% block title %} Blast {% endblock %}

{% block content %}
<div class="container" id="container_campos_blast">
    <div id="div_titulo_container_blast">
        <h1 class="h1_titulo_container_blast">Blast Search</h1>
    </div>
    <form action="dados/" class="form-contact contact_form" method="post" id="formulario_blast"
        enctype="multipart/form-data">
        {% csrf_token%}
        <div class="row pand">
            <h1 class="h1_tag_blast">Select the blast program:</h1>
            <select class="form-control selectProgram" id="select_program" name="select_program">
                <option>Opção 1</option>
                <option>Opção 2</option>
                <option>Opção 3</option>
            </select>
        </div>
        <div class="row pand">
            <h1 class="h1_tag_blast">Database for blast:</h1>
            <select class="form-control selectDatabase" id="select_database" name="select_database">
                <option>Opção 1</option>
                <option>Opção 2</option>
                <option>Opção 3</option>
            </select>
        </div>
        <div class="row pand">
            {% csrf_token %}
            <TEXTAREA NAME=dados_amostra_textArea COLS=57 ROWS=8></TEXTAREA><br><br>
        </div>
        <h1 class="h1_tag_blast">Upload the file containing the sequences in FASTA format:</h1>
        <div class="row pand">

            <input class="input_arquivo" type="file" name="data" />



        </div>
        <h1 class=" h1_tag_blast">Others options:</h1>
        <div class="row pand">
            <h1 class="h1_tag_blast">Expect:</h1>
            <input class="input_other_options" type="text" />
            <h1 class="h1_tag_blast">Description:</h1>
            <input class="input_other_options" type="text" />
            <h1 class="h1_tag_blast">Aligment:</h1>
            <input class="input_other_options" type="text" />
            <h1 class="h1_tag_blast">Filter:</h1>
            <input class="input_other_options" type="checkbox" />
        </div>
        <input class="input_submit" type="submit" value="Submit">
    </form>
</div>

{% endblock %}