{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-9 align-self-center">
        <div class="card border-dark text-center">
            <div class="card-header">
                Especie
            </div>
            <div class="card-body">
                <h5 class="card-title">Genome sequence</h5>
                <p class="card-text">Aqui vai um texto sobre o organismo, segundo o exemplo apresentado pelo
                    professor. Podemos adaptar para ser outra coisa.
                </p>
                <a class="btn btn-primary" href="http://www.whiteflygenomics.org/cgi-bin/bta/index.cgi" target="_blank">Exemplo de
                    site</a>
            </div>
            <div class="card-footer text-muted">
                2 dias atrás
            </div>
        </div>
    </div>
{% endblock %}