{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
<div class="row justify-content-center" id="div-principal-home">
    <div class="col-lg-9 align-self-center">
        <div id="card-texto-home" class="card border-dark text-center">
            <div class="card-header">
                <b>Yellow Fever Genome Sequence</b>
            </div>
            <div class="card-body">
                <figure class="figura-virus">
                    <img class="foto-virus" src="static/imagens/yellow-fever-virus.jpg"/>
                    <figcaption class="legenda-foto-home">Flavivirus febricis</figcaption>
                </figure>
                <p class="card-text"><i>Haemagogus janthinomys</i> é um mosquito de grande importância na saúde pública e na 
                    epidemiologia de forma geral, devido ao seu envolvimento nos ciclos naturais e transmissão, dentre 
                    outros, de dois importantes arbovírus na Amazônia brasileira: o vírus da febre amarela (<i>Flaviviridae</i>, 
                    <i>Flavivirus)</i> e o vírus Mayaro (<i>Togaviridae</i>, <i>Alphavirus</i>), sendo o principal vetor de transmissão de ambos. 
                    O organismo presente neste site, como indica o título deste texto, é o vírus da febre amarela 
                    (<i>Flaviviridae</i>, <i>Flavivirus). <i>Flaviviridae</i> trata-se de uma família de certos gêneros de vírus, 
                    especificamente do <i>Flavivirus</i> (febre amarela, dengue e vírus do Nilo Ocidental são exemplos de 
                    componentes), <i>Hepacivirus</i> (hepatite C) e <i>Pestivirus</i> (vírus da diarreia bovina e peste suína são 
                    exemplos de componentes). Dentro da família <i>Haemagogus</i>, até agora, apenas <i>Haemagogus janthinomys</i> tem sequências mitocondriais 
                    completas disponíveis.
                </p>
                <p class="card-text">
                    A utilização de ferramentas de sequenciamento genômico tem contribuído significativamente para o 
                    fornecimento de informações críticas/úteis para pesquisas e estratégias de controle de vetores, 
                    permitindo não apenas uma melhor visualização da evolução e padrões filogenéticos desses organismos, 
                    mas também contribuindo diretamente para o subsídio quanto às propriedades co-evolutivas entre estes 
                    e os agentes infecciosos que eles podem abrigar e potencialmente transmitir.
                </p>
                <p class="card-text">
                    Os dados usados para compor as ferramentas deste site foram extraídos do repositório do NCBI 
                    (National Center for Biotechnology Information). Foram usados um arquivo FASTA, que contém toda a 
                    sequência do genoma do vírus da febre amarela, e um arquivo GFF, um formato para armazenamento de 
                    dados de anotação com estrutura tabular que contém informações de determinados trechos da sequência 
                    do genoma de um organismo, além da base de dados do NCBI para fins de comparação durante o 
                    sequenciamento utilizando uma das ferramentas. 
                </p>
                <p class="card-text">
                    O Blast, uma das ferramentas disponibilizadas, é responsável por fazer o alinhamento da sequência do 
                    genoma do vírus da febre amarela, fazendo comparação  com diversos organismos da base de dados do 
                    NCBI para encontrar similaridades na sequência. O JBrowse é uma outra ferramenta, onde o objetivo é 
                    fornecer uma opção de disponibilização gráfica da sequência do genoma da febre amarela, e também 
                    fornecer mais detalhamentos, como a presença de proteínas em determinados trechos, dessa sequência 
                    por meio do arquivo GFF. O site conta ainda com uma opção de visualizar a árvore filogenética do 
                    organismo, para tornar possível a identificação da relação evolutiva envolvendo o vírus da febre 
                    amarela. 
                </p>
                <p class="card-text">
                    <b>Os autores deste projeto estão listados abaixo.</b><br><br>
                    FIGUEIREDO, Y., MIRANDA, F., MIRANDA, F., PRESTES, E., GARCIA, J., FREITAS, T., PONTES, R. e 
                    LOBO, L.
                </p>
            </div>
            <div class="card-footer text-muted">
                <!--Algum texto de rodapé-->
            </div>
        </div>
    </div>
</div>
{% endblock %}