{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-9 align-self-center">
        <div id="card-texto-home" class="card border-dark text-center">
            <div class="card-header">
                <b>Yellow Fever Genome Sequence</b>
            </div>
            <div class="card-body">
                <figure class="figura-virus">
                    <img class="foto-virus" src="static/imagens/yellow-fever-virus.jpg"/>
                    <figcaption class="legenda-foto-home">Flavivirus febricis</figcaption>
                </figure>
                <p class="card-text">Mussum Ipsum, cacilds vidis litro abertis. Si num tem leite então bota 
                    uma pinga aí cumpadi! Quem num gosta di mim que vai caçá sua turmis! Detraxit consequat 
                    et quo num tendi nada. Casamentiss faiz malandris se pirulitá. 
                </p>
                <p class="card-text">
                    Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis. Nec orci 
                    ornare consequat. Praesent lacinia ultrices consectetur. Sed non ipsum felis. Quem num 
                    gosta di mé, boa gentis num é. Leite de capivaris, leite de mula manquis sem cabeça. 
                </p>
                <p class="card-text">
                    A ordem dos tratores não altera o pão duris. In elementis mé pra quem é amistosis quis 
                    leo. Nullam volutpat risus nec leo commodo, ut interdum diam laoreet. Sed non consequat 
                    odio. Interagi no mé, cursus quis, vehicula ac nisi. A ordem dos tratores não altera o 
                    pão duris. In elementis mé pra quem é amistosis quis leo. Nullam volutpat risus nec leo 
                    commodo, ut interdum diam laoreet. Sed non consequat odio. Interagi no mé, cursus quis, 
                    vehicula ac nisi.  
                </p>
                <p class="card-text">
                    A ordem dos tratores não altera o pão duris. In elementis mé pra quem é amistosis quis 
                    leo. Nullam volutpat risus nec leo commodo, ut interdum diam laoreet. Sed non consequat 
                    odio. Interagi no mé, cursus quis, vehicula ac nisi. A ordem dos tratores não altera o 
                    pão duris. In elementis mé pra quem é amistosis quis leo. Nullam volutpat risus nec leo 
                    commodo, ut interdum diam laoreet. Sed non consequat odio. Interagi no mé, cursus quis, 
                    vehicula ac nisi.  
                </p>
                <p class="card-text">
                    A ordem dos tratores não altera o pão duris. In elementis mé pra quem é amistosis quis 
                    leo. Nullam volutpat risus nec leo commodo, ut interdum diam laoreet. Sed non consequat 
                    odio. Interagi no mé, cursus quis, vehicula ac nisi. A ordem dos tratores não altera o 
                    pão duris. In elementis mé pra quem é amistosis quis leo. Nullam volutpat risus nec leo 
                    commodo, ut interdum diam laoreet. Sed non consequat odio. Interagi no mé, cursus quis, 
                    vehicula ac nisi.  
                </p>
                <p class="card-text">
                    A ordem dos tratores não altera o pão duris. In elementis mé pra quem é amistosis quis 
                    leo. Nullam volutpat risus nec leo commodo, ut interdum diam laoreet. Sed non consequat 
                    odio. Interagi no mé, cursus quis, vehicula ac nisi. A ordem dos tratores não altera o 
                    pão duris. In elementis mé pra quem é amistosis quis leo. Nullam volutpat risus nec leo 
                    commodo, ut interdum diam laoreet. Sed non consequat odio. Interagi no mé, cursus quis, 
                    vehicula ac nisi.  
                </p>
                <h3 class="aviso-txt-temp">O texto acima é temporário. rsrs :)</h3>
            </div>
            <div class="card-footer text-muted">
                <!--Algum texto de rodapé-->
            </div>
        </div>
    </div>
{% endblock %}