{% extends 'base.html' %}

{% block title %} resulta_html {% endblock %}

{% block content %}
<div class="resultado container">
        <div class = "card-header" id="div_titulo_container_blast">
                <h1 id="h1_titulo_container_blast"><b>Blast Result</b></h1>
        </div>
        <table class="table-blast-result">
                <thead>
                        <tr>
                                <th>Identificação</th>
                                <th>Sequência</th>
                                <th>Tamanho</th>
                                <th>Score</th>
                                <th>Identidade</th>
                        </tr>
                </thead>
                <tbody>
                        {% for alinhamento in alinhamentos %}
                        <tr>
                                <td>Alinhamento {{ forloop.counter }}</td>
                                <td>{{alinhamento.sequencia}}</td>
                                <td>{{alinhamento.tamanho}}</td>
                                <td>{{alinhamento.score}}</td>
                                <td>{{alinhamento.identidade}}%</td>
                        </tr>
                        {%endfor%}      
                </tbody>
        </table>
        <div class="conteiner-download">
                <a style="color: white;" id="download-result" class="link-download">
                        <button class="button-download">Baixar resultado</button>
                </a>
        </div>
</div>

<script>
        const linkDownload = document.getElementById("download-result");
        linkDownload.addEventListener("click", function(event){
                var conteudo = "";
                var lista_alinhamento = [
                        {% for alinhamento in alinhamentos %}
                                {% if not forloop.first %}, {% endif %}
                                {
                                id_alinhamento: "{{forloop.counter}}",
                                sequencia: "{{alinhamento.sequencia}}",
                                tamanho: "{{alinhamento.tamanho}}",
                                score: "{{alinhamento.score}}",
                                identidade: "{{alinhamento.identidade}}"
                                }
                        {% endfor %}
                ];
                
                conteudo = conteudo + 'Blast Result\n\n';
                for(i=0; i<lista_alinhamento.length; i++){
                        conteudo = conteudo + 'Alinhamento: ' + lista_alinhamento[i].id_alinhamento + '\n';
                        conteudo = conteudo + 'Sequência: ' + lista_alinhamento[i].sequencia + '\n';
                        conteudo = conteudo + 'Tamanho: ' + lista_alinhamento[i].tamanho + '\n';
                        conteudo = conteudo + 'Score: ' + lista_alinhamento[i].score + '\n';
                        conteudo = conteudo + 'Identidade: ' + lista_alinhamento[i].identidade + '\n';
                        conteudo = conteudo +'____________________________________________________________________________________________________';
                        conteudo = conteudo + '\n';
                }

                linkDownload.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(conteudo));
                linkDownload.setAttribute('download', 'blast_result.txt');
        }, false);
</script>
{% endblock %}