{% extends 'base.html' %}

{% block title %} resulta_html {% endblock %}

{% block content %}
<div class="resultado container">
        <div class = "card-header" id="div_titulo_container_blast">
                <h1 id="h1_titulo_container_blast"><b>Blast Result</b></h1>
        </div>
        {% for alinhamento in alinhamentos %}

        <h2 class="identificacao-alinhamento"><b>Alinhamento {{ forloop.counter }}</b></h2>
        <h3 class="infos-alinhamento"><b>Sequência:</b> {{alinhamento.sequencia}}</h3>
        <h3 class="infos-alinhamento"><b>Tamanho:</b> {{alinhamento.tamanho}}</h3>
        <h3 class="infos-alinhamento"><b>Score:</b> {{alinhamento.score}}</h3>
        <h3 class="infos-alinhamento"><b>Identidade:</b> {{alinhamento.identidade}}</h3>
        <hr class="divisoria-alinhamento" noshade="noshade">
        <!-- {'Sequencia':  'gi|1789823865|gb|MK583182.1| Yellow fever virus isolate YFV081FIG, complete genome',
                       'Tamanho': 10944,
                       'Score':  21888.0,
                       'Identidade': 109.44}--->

        {%endfor%}
        <a style="color: white;" id="download-result" class="link-download">
                <button class="button-download">Baixar resultado em PDF</button>
        </a>
        <br><br><br><br><br>
</div>

<script>
        const linkDownload = document.getElementById("download-result");
        linkDownload.addEventListener("click", function(event){
                var conteudo = "";
                var lista_alinhamento = [
                        {% for alinhamento in alinhamentos %}
                                {% if not forloop.first %}, {% endif %}
                                {
                                id_alinhamento: "{{forloop.counter}}",
                                sequencia: "{{alinhamento.sequencia}}",
                                tamanho: "{{alinhamento.tamanho}}",
                                score: "{{alinhamento.score}}",
                                identidade: "{{alinhamento.identidade}}"
                                }
                        {% endfor %}
                ];
                
                conteudo = conteudo + "Blast Result\n\n";
                for(i=0; i<lista_alinhamento.length; i++){
                        conteudo = conteudo + 'Alinhamento: ' + (lista_alinhamento[i].id_alinhamento) + '\n';
                        conteudo = conteudo + 'Sequência: ' + lista_alinhamento[i].sequencia + '\n';
                        conteudo = conteudo + 'Tamanho: ' + lista_alinhamento[i].tamanho + '\n';
                        conteudo = conteudo + 'Score: ' + lista_alinhamento[i].score + '\n';
                        conteudo = conteudo + 'Identidade: ' + lista_alinhamento[i].identidade + '\n';
                        conteudo = conteudo +"____________________________________________________________________________________________________";
                        conteudo = conteudo + "\n";
                }

                linkDownload.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(conteudo));
                linkDownload.setAttribute('download', 'blast_result.txt');
        }, false);
</script>
{% endblock %}